.breadcrumbs {
    margin-bottom: 40px;
    font-size: 10px;

    &__item {


        &-link {
            text-decoration: none;
            color:rgb(0, 102, 255);
        }

        &-last {
            text-decoration: none;
            color:rgb(0, 102, 255);
        }

        &-icon {
            margin: 0 5px;
            color:rgb(0, 102, 255);
        }
    }
}