

.applications__page {
    &-wrapper {
        padding-top: 50px;
        max-width: 1240px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 5px;
        text-align: center;
    }

    &-subtitle {
        font-size: 18px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
    }
}

.applications__page-subtitle {
    font-size: 18px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
}

.form {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    justify-content: center; /* Добавляем это свойство */
    
    &__item {
      width: 250px;
      margin-right: 20px;
    }
  
    &__input {
      height: 30px;
      background-color: rgb(231, 230, 230);
      border-color: gray;
      font-size: 14px;
      margin-bottom: 15px;
    }
  
    &__textarea {
        max-height: 100px;
        min-height: 100px;
        margin-bottom: 15px;
    }

    &__btn {
        width: 150px;
    }
    margin-bottom: 50px;
}

.dropdown {
    margin-top: 20px;
    width: 250px;
    height: 30px;
    // background-color: rgb(231, 230, 230);
    border-color: gray;
    gap: 20px;

    &__toggle {
        height: 30px;
        width: 100%;
        text-align-last: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        font-size: 14px;
        background-color: rgb(231, 230, 230);
        border-color: gray;
        color: gray;



    &__menu {
        width: 100%;
        text-align-last: left;
        max-height: 200px;
        overflow: auto;
        right: 0;
        top: 0;
        background-color: gray;

    }
    }}